<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description>做为服务端，需要给esb提供一个可访问的url入口</description>
    <servlet-name>ESBServer</servlet-name>
    <servlet-class>com.dcfs.esb.server.ESBServer</servlet-class>
    <init-param>
      <param-name>EAI_HOME</param-name>
      <param-value>E:/DRC/EAI_Home/</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ESBServer</servlet-name>
    <url-pattern>/ESBServer</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>
                com.sun.xml.ws.transport.http.servlet.WSServletContextListener
        </listener-class>
  </listener>
  <servlet>
    <servlet-name>ESBWebService</servlet-name>
    	<servlet-class>
        	com.sun.xml.ws.transport.http.servlet.WSServlet
        </servlet-class>
    <init-param>
      <param-name>EAI_HOME</param-name>
      <param-value>E:/DRC/EAI_Home/</param-value>
    </init-param>        
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ESBWebService</servlet-name>
    <url-pattern>/ESBWebService</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>TestServlet</servlet-name>
    	<servlet-class>
        	com.test.TestServlet
        </servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
   <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>