<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <appSettings>
    <add key="MqHostName" value="localhost"/>
    <add key="MqvHostName" value=""/>
    <add key="MqUserName" value="InstinctSysAdm"/>
    <add key="MqPassword" value="Instinct"/>
    <add key="MqListenQueueName" value="SQ"/>
    <add key="MqSendQueueName" value="RQ"/>
    <add key="MqSendExchange" value=""/>
    <add key="MqPort" value=""/>
    <add key="MethodNames" value="InstinctFraudCheck_XMLString|InstinctFraudCheck_JSONString"/>
    <add key="Encode" value="UTF-8"/>
    <add key="MqSynchronization" value ="false"/>  
  </appSettings>
  <log4net>
    <logger name="loginfo">
      <level value="ALL"/>
      <appender-ref ref="InfoAppender"/>
    </logger>
    <appender name="InfoAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" type="log4net.Util.PatternString" value="Log\\"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxFileSize" value="10240"/>
      <param name="MaxSizeRollBackups" value="100"/>
      <param name="lockingModel" type="log4net.Appender.FileAppender+MinimalLock"/>
      <param name="StaticLogFileName" value="false"/>
      <param name="DatePattern" value="&quot;###Instinct_FraudCheckClient&quot;yyyyMMdd&quot;.log&quot;"/>
      <param name="RollingStyle" value="Date"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
  </log4net>
  <startup>

    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
