<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <appSettings>
    <add key="UseWindowsAuthentication" value="N"/>
    <add key="DatabaseUserId" value="InstinctSysAdm"/>
    <add key="DatabasePassword" value="TWPiOgJ6JQsxV8NQofL4ew=="/>
    <add key="DataSource" value="(LOCAL)"/>
    <add key="InitialCatalog" value="InstinctBQFCN531"/>
    <add key="MqReceiveHostName" value="localhost"/>
    <add key="MqReceiveVHostName" value=""/>
    <add key="MqReceiveUserName" value="InstinctSysAdm"/>
    <add key="MqReceivePassword" value="Instinct"/>
    <add key="MqListenQueueName" value="CQ"/>
    <add key="MqReceivePort" value=""/>
    <add key="MqReceiveProcessCount" value="1"/>
    <add key="MqEncode" value="UTF-8"/>
    <add key="MqNeedDeclareQueue" value="true"/>
    <add key="SubTables" value="Applicant"/>
    <add key ="MqAutoAck" value ="true"/>
    <add key ="MqHeartBeat" value="60"/>
  </appSettings>
  <log4net>
    <logger name="loginfo">
      <level value="ALL"/>
      <appender-ref ref="InfoAppender"/>
    </logger>
    <appender name="InfoAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" type="log4net.Util.PatternString" value="Log\\"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxFileSize" value="10240"/>
      <param name="MaxSizeRollBackups" value="100"/>
      <param name="lockingModel" type="log4net.Appender.FileAppender+MinimalLock"/>
      <param name="StaticLogFileName" value="false"/>
      <param name="DatePattern" value="&quot;###Instinct_Collection_Log_&quot;yyyyMMdd&quot;.log&quot;"/>
      <param name="RollingStyle" value="Date"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
</configuration>
