<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key ="datasource" value ="(local)"/>
    <add key="initialcatalog"  value="InstinctDRC" />
    <add key="userid"  value="InstinctSysAdm" />
    <add key="password"  value="TWPiOgJ6JQsxV8NQofL4ew==" />
    <add key="events"  value="QZZC_APPC_ENT_INFO_IMPORT,QZZC_UBNK_CRDT_INFO_IMPORT,QZZC_UBNK_LOAN_BIZ_IMPORT,RW_IND_BASIC_INFO_TAB_IMPORT,RWMS_CUSTOMER_STATUS_IMPORT,T01_CUST_RELATIVE_G_IMPORT,T01_IC_ALI_OWE_LOAN_C_IMPORT,T01_IC_BREAK_DEBETOR_C_IMPORT,T01_IC_DEBETOR_C_IMPORT,T01_IND_CUST_BIZ_INFO_P_IMPORT,T01_IND_CUST_CORE_INFO_P_IMPORT,T01_IND_ERA_PAY_STAT_P_IMPORT" />
  </appSettings>
  <system.web>
    <compilation debug="true">
    </compilation>
    <authentication mode="Windows" />
  </system.web>
</configuration>
