<?xml version="1.0"?>
<configuration>
	<system.runtime.remoting>
		<application>
			<client>
				<wellknown type="Instinct.General.IEncryption, Instinct.General" url="tcp://localhost:8080/Encryption.rem"/>
			</client>
		</application>
	</system.runtime.remoting>	
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
</configuration>
