<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <appSettings>
    <add key="AppActionOutputFileFlag" value="Y"/>
    <add key="AppInputFormat" value="UNICODE"/>
    <add key="AppLocalTimeDifference" value="+0000"/>
    <add key="AppOrganisation" value="BQF"/>
    <add key="AppOutputFormat" value="VARIABLE"/>
    <add key="AppOutputDirectory" value="D:\DECTECH SOLUTIONS\INSTINCT\BQF\OUTPUT"/>
    <add key="UseWindowsAuthentication" value="N"/>
    <add key="UseDefinedEncryptionKey" value="N"/>
    <add key="Key1Path" value="C:\Instinct\Key1.key"/>
    <add key="Key2Path" value="C:\Instinct\Key2.key"/>
    <add key="DatabaseUserId" value="InstinctSysAdm"/>
    <add key="DatabasePassword" value="TWPiOgJ6JQsxV8NQofL4ew=="/>
    <add key="DataSource" value="(LOCAL)"/>
    <add key="DefaultCountry" value="CN"/>
    <add key="DelimiterCharacters" value="|"/>
    <add key="InitialCatalog" value="InstinctBQFCN531"/>
    <add key="RulesInOutputFile" value="Y"/>
    <add key="RulesDescriptionInOutputFile" value="Y"/>
    <add key="ActionCountNbrInOutputFile" value="Y"/>
    <add key="NatureOfFraudInOutputFile" value="Y"/>
    <add key="DiaryInOutputFile" value="Y"/>
    <add key="SiteWithSpecialFunctions" value="SIGCN"/>
    <add key="SecondServiceSuffix" value="531"/>
    <add key="UserIdInOutputFile" value="Y"/>
    <add key="DecisionReasonInOutputFile" value="Y"/>
    <add key="UserDefinedAlertInOutputFile" value="Y"/>
    <add key="WriteLogFile" value="Y"/>
    <add key="GroupMemberCode" value=""/>
    <add key="LowFraudScore" value="30-50"/>
    <add key="NewApplicationsAge" value="7"/>
    <add key="FraudAlertUserIdInOutputFile" value="Y"/>
    <add key="MqSendHostName" value="localhost"/>
    <add key="MqSendVHostName" value=""/>
    <add key="MqSendUserName" value="InstinctSysAdm"/>
    <add key="MqSendPassword" value="Instinct"/>
    <add key="MqSendQueueName" value="RQ"/>
    <add key="MqSendExchange" value=""/>
    <add key="MqSendPort" value=""/>
    <add key="MqReceiveHostName" value="localhost"/>
    <add key="MqReceiveVHostName" value=""/>
    <add key="MqReceiveUserName" value="InstinctSysAdm"/>
    <add key="MqReceivePassword" value="Instinct"/>
    <add key="MqListenQueueName" value="SQ"/>
    <add key="MqReceivePort" value=""/>
    <add key="MqReceiveProcessCount" value="1"/>
    <add key="MqEncode" value="UTF-8"/>
    <add key="MqNeedDeclareQueue" value="false"/>
    <add key="MqSynchronization" value="false"/>    
    <add key="ReferenceTables" value=""/>
    <add key="Participle" value="N"/>
    <add key="WaitingSeconds" value="3"/>
    <add key ="MqAutoAck" value ="true"/>
    <add key ="MqHeartBeat" value="60"/>
  </appSettings>
  <log4net>
    <logger name="loginfo">
      <level value="ALL"/>
      <appender-ref ref="InfoAppender"/>
    </logger>
    <appender name="InfoAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" type="log4net.Util.PatternString" value="Log\\"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxFileSize" value="10240"/>
      <param name="MaxSizeRollBackups" value="100"/>
      <param name="lockingModel" type="log4net.Appender.FileAppender+MinimalLock"/>
      <param name="StaticLogFileName" value="false"/>
      <param name="DatePattern" value="&quot;###Instinct_FraudCheckMQ_&quot;yyyyMMdd&quot;.log&quot;"/>
      <param name="RollingStyle" value="Date"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
